.tasks-list td {
    height: 60px;
    vertical-align: middle;
}
.tasks-list input[type=checkbox] {
    display: none;
}
.tasks-list .checkbox-label {
    position: relative;
    cursor: pointer;
}
.tasks-list .checkbox-label span {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid darkslategray;
    border-radius: 5px;
}
.tasks-list input:checked + span {
    background-color: gray;
}
.tasks-list input:checked + span::after {
    position: absolute;
    left: 6px;
    top: 6px;
    display: block;
    width: 12px;
    height: 8px;
    border-left: 1px solid greenyellow;
    border-bottom: 1px solid greenyellow;
    transform: rotate(-45deg);
    content: '';
}