<h1 class="mb-4">{{ task ? 'Modify task' : 'Create task' }}</h1>

<div>
    <h3 *ngIf="task">Task id {{ task.id }}</h3>

    <form action="" method="POST"  class="mb-4">

        <div class="form-row d-flex mb-4 justify-content-between flex-column">
            <div class="form-group col-md-6 mb-4">
                <label>Task text</label> <br>
                <textarea name="text" id="text" class="form-control" cols="30" rows="10">{{ task ? task.message : '' }}</textarea>
            </div>
            <div class="form-group col-md-5">
                <label>Deadline</label> <br>
                <input type="date" name="date" class="form-control" id="date" value="{{ task ? task.deadline : '' }}">
            </div>
        </div>

        <!-- <div class="alert alert-success" role="alert">The quote was updated</div> -->

        <div class="d-flex align-items-start">
            <button type="submit" name="save" class="btn btn-primary" (click)="saveTask()">Save</button>
            <button type="button" name="save" class="btn btn-secondary mx-2" (click)="goBack()">Cancel</button>
        </div>
        
    </form>
</div>

